<div class="border-start border-secondary border-5 m-3 p-2">
  <%= @question %>
  <p>- You</p>
</div>
<div class="border-start border-secondary border-5 m-3 p-2 bg-warning bg-opacity-25">
  <%= @answer %>
  <p>- Your Coach</p>
</div>
<div class="m-3">
  <%= link_to "Ask a new question", ask_path %>
</div>
