<div class="p-3">
  <p>Ask your coach anything:
  </p>
</div>
<form class="input-group ps-3" action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input class="input-group-text btn btn-primary" type="submit" value="Ask!">
</form>
